.navigation {
  display: flex;
  align-items: center;
  margin: 0 70px 0 0;
}

.navigation__list-element {
  list-style-type: none;
  margin: 0 20px 0 0;
}

.navigation__list-element:last-of-type {
  margin: 0;
}

.navigation__list-element_main {
  margin: 0 30px 0 0;
}

.navigation__main-link {
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #FFFFFF;
  text-decoration: none;
}

.navigation__main-link:hover {
  opacity: .8;
}

.navigation__main-link_signin {
  color: #000000;
  background: #2BE080;
  border-radius: 3px;
  padding: 8px 20px;
}

.navigation__link {
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  text-decoration: none;
  margin: 0;
}

.navigation__link_active {
  font-weight: 600;
}

.navigation__link:hover {
  opacity: .6;
}

.navigation__link_profile {
  display: flex;
  align-items: center;
  line-height: 17px;
}

.navigation__profile-logo {
  margin: auto 0 auto 17px;
  background-color: #f9f9f9;
  border-radius: 4px;
  padding: 8px 7px;
}

.navigation__mobile-button {
  display: none;
  background-color: #fff;
  background-image: url('../../images/mobile-nav-icon.svg');
  width: 44px;
  height: 44px;
  border: none;
  margin: 0 30px 0 0;
}

.navigation__mobile-button:hover {
  cursor: pointer;
}

@media screen and (max-width: 1279px) {
  .navigation {
    display: none;
    margin: 0 30px 0 0;
  }

  .navigation_visible {
    display: flex;
  }

  .navigation_main {
    display: flex;
  }

  .navigation__mobile-button {
    margin: 0 30px 0 0;
    display: block;
  }

  .navigation__mobile-button_hidden {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .navigation__mobile-button {
    margin: 0 14px 0 0;
  }
}
